@tailwind base;
@tailwind components;
@tailwind utilities;

#main-wrapper {
  @apply flex flex-col md:items-center;
}

.page-wrapper {
  @apply px-4 py-3;
  @apply max-w-[1200px] md:px-6 md:py-0;
}

.container-fluid {
}

#banner-image {
  /* @apply ; */
}

/* ------------ BASICS -------------- */
html,
body {
  /* @apply leading-6; */
  padding: 0;
  margin: 0;
  /* line-height: 1.5; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @apply bg-neutral-800;
  @apply text-neutral-200;
}

.divider {
  @apply border-neutral-800/60;
}

button {
  /* @apply ; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
