@tailwind base;
@tailwind components;
@tailwind utilities;

#main-wrapper {
  @apply flex flex-col items-center;
}

.page-wrapper {
  @apply px-4;
  @apply lg:max-w-7xl w-full mx-auto;
}

.container-fluid {
}

#banner-image {
  /* @apply ; */
}

/* ------------ BASICS -------------- */
html,
body {
  /* @apply leading-6; */
  padding: 0;
  margin: 0;
  /* line-height: 1.5; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @apply bg-neutral-800;
  @apply text-neutral-200;
}

.divider {
  @apply border-neutral-800/60;
}

.home-section {
  @apply w-full flex rounded-sm flex-col items-center py-4 bg-neutral-900/80 mb-3 rounded-lg shadow-xl;
  @apply md:flex-row md:px-7;
}

button {
  /* @apply ; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
